fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic==2.9.2

numpy==1.26.4
opencv-python==4.10.0.84
scikit-image==0.24.0

mediapipe==0.10.33

tensorflow==2.16.1
tf-keras==2.16.0
keras==3.3.3
deepface==0.0.93